% -*- erlang -*-

% compiler options
{erl_opts, [{parse_transform, lager_transform}]}.

% dependency directory where things will live.  we use the erlang
% lib/ standard.
{deps_dir, "lib"}.

% why not
{cover_enabled, true}.

{deps,
  [
   {
  		dl_core,
  		"1",
  		{git,"git://github.com/kofron/dl_core.git","HEAD"}
  	},
   {	
    	dl_instr,
      	"1",
      	{git,"git://github.com/kofron/dl_instr.git","HEAD"}
    }
  ]
}.

{sub_dirs,["release"]}.
