% -*- erlang -*-

% compiler options
{erl_opts, [{parse_transform, lager_transform}]}.

% dependency directory where things will live.  we use the erlang
% lib/ standard.
{libs_dir, "apps"}.
{deps_dir, "lib"}.

% why not
{cover_enabled, true}.

{erl_first_files,["src/gen_dl_agent.erl"]}.
{erl_opts, [{pa,"ebin/"},
	    {parse_transform, lager_transform},
	    {src_dirs, ["src","src/instruments"]}]}.

% dependencies
{deps,
 [
  {lager, "2.0.*", {git,"http://github.com/basho/lager", "HEAD"}},
  {props,".*", {git, "https://github.com/greyarea/props.git", "master"}},
  {ej, "0.0.*", {git, "http://github.com/seth/ej.git", "HEAD"}},
  {couchbeam,"1.0.*",{git,"git://github.com/benoitc/couchbeam.git","HEAD"}},
  {gproc, "0.3.*", {git,"http://github.com/uwiger/gproc", "HEAD"}},
  {poolboy, "1.0.*", {git, "http://github.com/devinus/poolboy.git","HEAD"}}
 ]
}.

{sub_dirs,["apps/dl_core","rel"]}.
