{sys, [
       {lib_dirs, ["../apps","../lib"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {rel, "dripline", "1",
        [
	kernel,
         stdlib,
         sasl,
	 inets,
         mnesia,
	 crypto,
	 public_key,
	 ssl,
         hackney,
         couchbeam,
         compiler,
         syntax_tools,
         lager,
         gproc,
	 ej,
	 poolboy,
         dl_core
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "dripline"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, dl_core, [{mod_cond, app}, {incl_cond, include}]},		
       {app, ej, [{mod_cond, app}, {incl_cond, include}]},		
       {app, gproc, [{mod_cond, app}, {incl_cond, include}]},   
       {app, compiler,[{mod_cond, app}, {incl_cond, include}]},   
       {app, syntax_tools,[{mod_cond, app}, {incl_cond, include}]},
       {app, lager,[{mod_cond, app}, {incl_cond, include}]},       
       {app, public_key,[{mod_cond, app}, {incl_cond, include}]},  
       {app, ssl,[{mod_cond, app}, {incl_cond, include}]},         
       {app, hackney,[{mod_cond, app}, {incl_cond, include}]},     
       {app, couchbeam,[{mod_cond, app}, {incl_cond, include}]},   
       {app, mnesia,[{mod_cond, app}, {incl_cond, include}]},      
       {app, poolboy,[{mod_cond, app}, {incl_cond, include}]},      
       {app, sasl,[{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "dripline"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/dripline", "bin/dripline"},
           {copy, "files/dripline.cmd", "bin/dripline.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
